body {
	margin: 0;
	background-color: #968484;
}

p {
	text-align: center;
}


.heading {
	height: 100px;
	background-color: #333;
	color: whitesmoke;
	margin-bottom: 15px;
	text-align: center;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rtkContainer {
	font-size: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
}

.rtk {
	color: #390e05;
	width: 50%;
}
