body {
	margin: 0;
	background-color: #365960;
}

p {
	text-align: center;
}

hr {
	color: black;
}

.heading {
	background-color: #053039;
	color: whitesmoke;
	text-align: center;
	font-size: 50px;
	display: flex;
	justify-content: center;
}

.rtkContainer {
	font-size: 30px;
	display: flex;
	justify-content: center;
}

.rtk {
	color: #cdd5d7;
	width: 50%;
}
